apiVersion: v1
kind: Service
metadata:
  name: bhumika-backend-svc
  labels:
    app: backend
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 5001
      name: backend
  selector:
    app: bhumika-backend
